
@import "../../app/scss/_theme.scss";

#nav {
    
    width: $nav-width;
    margin: 100px 16px 100px 0;
    
    > ul {
        position: fixed;
        width: $nav-width;
        list-style-type: none;
        padding: 0 20px 0 0;
        overflow: auto;
        top: 100px;
        bottom: 50px;
        
        > li {
            line-height: 1.5em;
            padding: 3px 8px 4px 8px;
            position: relative;

            a {
                font-family: "Roboto-Light";
                text-decoration: none;
            }
            
            &.active, &.active.first {
                background-color: #fff;
                
                a {
                    font-family: "Roboto";
                }
            }
            
            &.first {
                background-color: #eee;
            }

            &:hover {
                background-color: #eee;
            }

            &:before {
                -display: inline-block;
                -width: 30px;
                -content: attr(data-section);
            }
            
            &.h2 {
                margin: 8px 0 4px 0;
                font-size: 1.1em;
                padding-left: 28px;
                
                &:first-child {
                    margin-top: 0;
                }
            }

            &.h2:before {
                display: block;
                position: absolute;
                width: 16px;
                height: 20px;
                margin-left: -20px;
                margin-top: 4px;
                content: "";
                background: transparent url(../img/doc-icon.png) 0 0 no-repeat;
                opacity: 0.8;
            }
            
            &.h3 {
                font-size: 0.9em;
                line-height: 1.5;
                margin: 4px 0 4px 8px;
                padding-left: 8px;
                border-left: 2px solid #ddd;
            }
            
        }
    }
    
    > footer {
        position: fixed;
        width: $nav-width - 20;
        text-align: right;
        bottom: 8px;
        padding: 8px 0 0 0;
        font-size: 12px;
        color: $gray-3;
        border-top: 1px solid $gray-4;
        
        a {
            padding-left: 16px;
            background: transparent url("../../app/img/favicon.png") 0 2px no-repeat;
            background-size: 14px 14px;
            color: $gray-2;
            text-decoration: none;
        }
    }
}